/**
 * All typography styles go here: headers, paragraphs, links etc.
 */

// Headers
%header {
  color: $color-display;
  @include rem(margin, $element-spacing * 2 0 $element-spacing);
}

h1,
%h1 {
  @extend %header;
  @include font-size($font-size-giga);
}

h2,
%h2 {
  @extend %header;
  @include font-size($font-size-kilo);
}

h3,
%h3 {
  @extend %header;
  @include font-size($font-size-deca);
}

h4,
%h4 {
  @extend %header;
  @include font-size($font-size-zero);
}

h5,
%h5 {
  @extend %header;
  @include font-size($font-size-deci);
}

h6,
%h6 {
  @extend %header;
  @include font-size($font-size-centi);
}

// Paragraphs
p { @include rem(margin, $element-spacing 0); }

hr {
  border: none;
  border-bottom: 1px solid $color-border;
  @include rem(margin, $element-spacing 0);
}

// Links
a {
  color: $color-link;
  text-decoration: underline;
  &:hover,
  &:focus,
  &:active {
    color: $color-link-hover;
    text-decoration: none;
  }
  &:focus,
  &:active {
    box-shadow: 0;
    outline: dotted thin $color-link-hover;
  }
}

// Text selection
::selection {
  background: $color-selection-bg;
  color: $color-selection;
  text-shadow: none;
}

::-moz-selection {
  background: $color-selection-bg;
  color: $color-selection;
  text-shadow: none;
}

// Formatting (inline)
em { font-style: italic; }

strong { font-weight: bold; }

// Styling code blocks and inline code
code,
pre {
  background-color: $color-highlight-primary;
  border-radius: 3px;
  border: 1px solid darken($color-highlight-primary, 4%);
  color: $black;
  font-family: monospace, serif;
  padding: 0.1em 0.3em;
}

// Styling code block
pre {
  @include rem(margin, $element-spacing 0);
  @include rem(padding, 6px 8px);
}
