@function get-layout-value($layout-map, $property) {
  @if map-has-key($layout-map, $property) {
    @return map-get($layout-map, $property);
  } @else {
    @return false;
  }
}

@function get-layout($name, $property: false) {
  $return-value: ();
  @if map-has-key($grid-layouts, $name) {
    $layout: map-get($grid-layouts, $name);
    @if $property {
      $return-value: get-layout-value($layout, $property);
    } @else {
      $return-value: $layout;
    }
  } @else {
    @warn "The layout '#{$name}' doesn't exist in $grid-layouts.";
  }
  @return $return-value;
}

@mixin use-layout($name, $layout: false, $no-query: false) {
  $settings: get-layout($name);
  $query: get-layout-value($settings, query);
  @if not $layout {
    $layout: get-layout-value($settings, layout);
  }
  @if not $no-query {
    $no-query: get-layout-value($settings, no-query);
  }
  @if $query {
    // Only use fallback if global $susy-media-fallback is active
    @if not $susy-media-fallback {
      $no-query: false;
    }
    @if not $breakpoint-no-queries or $no-query {
      @include susy-breakpoint($query, $layout, $no-query) {
        @content;
      }
    }
  } @else {
    @warn "The layout '#{$name}' has no query set and will not output anything.";
  }
}
