/**
 * List and definition list base styles
 */

ol, ul {
  margin: $element-spacing 0;
  padding-left: 36px;

  & & { margin: 0; }
}

dl { margin: $element-spacing 0; }

dt { font-weight: bold; }

dd { margin-left: 30px; }

dd + dt { margin-top: $element-spacing / 2; }
