/**
 * General layouts
 * Individual modules should have their own partial
 */

body {
  @if $debug {
    &:before {
      background: #8C8C8C;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      color: #FFF;
      content: "layout: xxsmall";
      display: block;
      font-family: monospace;
      font-size: 10px;
      padding: 0.1em 0.2em;
      position: fixed;
        left: 0;
        top: 0;
        z-index: z-index(ridiculous);

      @each $layout in xsmall, small, medium, large, xlarge, xxlarge {
        @include use-layout($layout) {
          content: "layout: #{$layout}";
        }
      }
    }
  }
}

.wrapper {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: 100%;
}

.clearfix { @extend %clearfix; }

.section {}

.view {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  margin-left: 10%;
  position: relative;
  width: 90%;
}

.content {
  min-height: 100%;
  position: relative;
  width: 100%;

  //.is-loading { background-color: pink; }
}

.container {
  @include container;

  // Adding grid padding from tablet layout
  @include use-layout(medium) {
    padding: {
      left: $grid-padding;
      right: $grid-padding;
    }
  }

  // Manual min-width for ie8
  // Based on xlarge's query min-width
  @if $susy-media-fallback { min-width: 1000px; }
}

.gradient {
  background: #071c27;
  background: linear-gradient(to bottom, #071c27 0%, #071c27 100%);
  color: $white;
  overflow: visible;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    height: 400px;
    box-shadow: inset 0 -300px 200px -100px #071c27;
    z-index: 2;
    pointer-events: none;
  }
}
