/**
 * Global navigation styles
 * Put such things as top nav and side nav in this partial
 */

.navigation {
  background-color: $white;
  display: none;
  font-family: "roboto";
  font-size: 12px;
  font-weight: 200;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 3;

  @include use-layout(medium) {
    display: block;
    width: 10%;
  }

  @include use-layout(large) { width: 10%; }

  &__top { margin-top: 20px; }

  &__container {
    height: 100%;
    position: relative;
  }

  &__item {
    color: $green;
    display: block;
    margin-bottom: 25px;
    position: relative;
    text-decoration: none;
    text-align: center;
    @include transition(color, 0.3s, ease-in-out);

    &.is-active,
    &:hover {
      color: darken($green, 15%);

      .navigation__text { color: darken($green, 15%); }
    }

    &:after {
      font-size: 28px;
      position: absolute;
        left: 50%;
        top: 0;
      -ms-transform: translate(-50%, 0); /* IE 9 */
      -webkit-transform: translate(-50%, 0); /* Safari */
      transform: translate(-50%, 0);
    }

    &--search {
      @extend .navigation__item;
      @include font-icon(search);
    }

    &--shop {
      @extend .navigation__item;
      @include font-icon( cart );
    }

    &--plan {
      @extend .navigation__item;
      @include font-icon(calendar);
    }

    &--meal {
      @extend .navigation__item;
      @include font-icon( spoon-knife );
    }

    &--profile {
      @extend .navigation__item;
      @include font-icon( user );
    }

    &--settings {
      @extend .navigation__item;
      @include font-icon( cog );
    }
  }

  &__text {
    color: $green;
    display: block;
    padding-top: 30px;
    @include transition(color, 0.3s, ease-in-out);
  }

  &__bottom {
    position: relative;
    bottom: 0;
  }
}
