/**
 * UI Components:
 * Tables
 */

%table {
  border: 1px solid $color-border;

  thead tr,
  tfoot tr { background-color: $color-highlight-primary; }

  tbody tr:nth-of-type(even) { background-color: $color-highlight-secondary; }

  caption,
  th,
  td {
    border: 1px solid $color-border;
    @include rem(padding, 8px 12px);
  }

  caption { border-bottom: none; }
}

.table { @extend %table; }
