/**
 * Recipes list
 */

.recipes-list {
  
  &__item {
    background: $black;
    box-sizing: border-box;
    cursor: pointer;
    height: auto;
    max-height: 360px;
    max-width: 480px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 20px;

    @include use-layout(medium) { @include span(4 of 8); }
  
    @include use-layout(large) { @include span(4 of 12); }
    
    @include use-layout(xxlarge) { @include span(3 of 12); }

    &:hover {
      .recipes-list__picture {
        opacity: 0.4;
        transform: scale3d(1.1, 1.1, 1);
      }
      .recipes-list__text { transform: translate3d(0, 0, 0); }
    }
  }

  &__picture {
    backface-visibility: hidden;
    height: 400px;
    max-width: none;
    opacity: 0.8;
    transform: scale3d(1, 1, 1);
    @include transition(all, 1s, ease-in-out);
  }

  &__link {
    font-size: 0;
    opacity: 0;
    text-indent: 200%;
    white-space: nowrap;
    z-index: 1000;
  }

  &__text-container {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: $white;
    height: 100%;
    padding: 2em;
    position: absolute;
      left: 0;
      top: 0;
    text-transform: uppercase;
    width: 100%;
  }

  &__headline {
    color: $white;
    position: relative;
    padding: 10px 0;
    font-weight: 300;

    &--light { font-weight: 800; }
  }

  &__text {
    display: inline-block;
    margin: 0 0 0.25em;
    padding: 0.4em 1em;
    background: rgba($white, 0.9);
    color: #2f3238;
    text-transform: none;
    font-weight: 500;
    font-size: 75%;
    transform: translate3d(0, 230px, 0);
    @include transition(transform, 0.35s, ease-in-out);

    &:first-child { transition-delay: 0s; }
    &:first-child + p { transition-delay: 0.05s; }
    &:first-child + p + p { transition-delay: 0.1s; }
  }
}