/**
 * Put media components here
 * Such as containers for video, iframe styling etc.
 */

@mixin keep-ratio($ratio){ // 16:9 => 9/16
  @extend %responsive-media-container;
  padding-bottom: percentage($ratio);
}

%responsive-media-container {
  background-color: $color-highlight-primary;
  height: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

%responsive-media-element {
  position: absolute;
    top: 0;
    left: 0;

  // Override inline styles on pasted embed code
  height: 100% !important;
  width: 100% !important;
}

.responsive-video--4x3 {
  @include keep-ratio(3/4); // 4:3

  iframe {
    @extend %responsive-media-element;
  }
}
